*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "sora extra";
    src: url("../fonts/Sora/static/Sora-ExtraBold.ttf");
}
@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}
html,body{
    overflow-x: hidden;
    
}
main{
    font-family: "poppins";
}
header{
    position:fixed;
    top: 0vw;
    left: 0vw;
    height: 7vw;
    width: 90vw;
    padding: 5vw 5vw;
    z-index: 3;
    z-index: 10;

}
header .logo{
    width: 100%;
}
header .logo img{
    height: 12vw;
    position: absolute;
    top: 3vw;
    right: 5vw;
}

.banner{
    background-image: url(../img/textura_banner01.webp);
    background-size: 100% 100%;
    padding: 20vw 0vw 0vw 0vw;
}
.banner .titulo img{
    width: 47vw;
    margin: 5vw 26.5vw;
}
.banner .fruta img{
    width: 80vw;
    margin: 5vw 10vw 25vw 10vw;
}
.banner .conteudo{
    text-align: center;
}
.banner .conteudo h1{
    width: 40vw;
    display: inline-block;
    color: green;
}
.banner .conteudo h1#numero{
    font-size: 30vw;
    font-family: "sora extra";
}
.banner .conteudo h1#titulo{
    text-transform: uppercase;
    font-size: 5.5vw;
    font-family: "sora extra";
    margin-left: -4vw;
    line-height: 6vw;
    text-align: left;
    position:relative;
    top: -4vw;
}
.banner .conteudo .lista{
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-top: 5vw;
    padding: 0 2vw;
}
.banner .conteudo .lista ul{
    height: 40vw;
    width: 44vw;
    margin: 0 0.6vw;
    text-align: left;
}
.banner .conteudo .lista ul li{
    color: green;
    font-size: 2.5vw;
    margin-top: 1.3vw;
    padding-left: 6.1vw;
    list-style:none;
    background-image: url(../img/icon.webp);
    background-size:3.5vw;
    background-repeat: no-repeat;
    background-position: 0vw center;
}
.segundoConteudo{
    text-align: center;
    background-image: url(../img/textura_banner02.webp);
    background-size: 100%;
    padding: 10vw 0;
}
.segundoConteudo h1{
    display: inline-block;
}
.segundoConteudo h1#numero{
    font-size: 30vw;
    font-family: "sora extra";
    color: #edde1f;
}
.segundoConteudo h1#titulo{
    text-transform: uppercase;
    font-size: 5vw;
    font-family: "sora extra";
    margin-left:-1vw;
    line-height: 6vw;
    text-align: left;
    width: 42vw;
    position:relative;
    top: -3vw;
    color: white
}

.segundoConteudo .receitas{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    font-size: 2.6vw;
}

.segundoConteudo .receitas .box {
    width: 40vw;
    margin-top: 3vw;
    color: white;
    font-size: 1.8vw;
}
.segundoConteudo .receitas .box h1{
    margin: 1vw 0;
}

.segundoConteudo .receitas #primeiraBox{
    background-image: url(../img/doceBanana.webp);
    background-size: 100%;
    background-repeat: no-repeat ;
}
.segundoConteudo .receitas #segundaBox{
    background-image: url(../img/bolinhoDeBanana.webp);
    background-size: 100%;
    background-repeat: no-repeat ;
}
.segundoConteudo .receitas #terceiraBox{
    background-image: url(../img/coockie.webp);
    background-size: 130%;
    background-position: -5vw 0vw;
    background-repeat: no-repeat ;
}
.segundoConteudo .receitas #quartaBox{
    background-image: url(../img/vitamina.webp);
    background-size: 100%;
    background-repeat: no-repeat ;  
}


.segundoConteudo .receitas .box .receitaImage{
    padding:10vw 0;
    width: 100%;
    background-color: rgb(220,220,220);
}
.segundoConteudo .receitas .box button{
    margin-top: -5vw;
    background-color:#edde1f;
    border: none;
    border-radius:1vw;
    width: 25vw;
    height:7vw;
    font-size: 2.5vw;
    color: green;
}


footer{
    height: 20vw;
    font-size: 1.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

}
footer .logo img{
    
    height: 10vw;
    display: block;
    margin: 0 auto;
}
footer .links{
    display: block;
    font-size: 1.27vw;
    width: 60vw;
    height: 8vw;
    color: white;
    margin: 0vw;
    margin-bottom: -2vw;
    text-align: center;
}
footer .links ul{
    display: none;
}
footer .links ul:last-child{
    display: block;
}
footer .links ul a{
    color: #ffb400;
    text-decoration: none;
    cursor: pointer;
}

